@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Piąta edycja festiwalu "4 Pory Rocka" A.D. 2018. Line-up: Abstrakt, BTEH, Moanaa, Octopussy.
                </p>
            </div>
        </div>

        <div class="item">
            <img src="~/images/banner2.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Odbierz zaproszenie VIP na 4 Pory Rock`a wypełniajac formularz.                    
                </p>
            </div>
        </div>
        
        
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Abstrakt</h2>
        <p>
            ABSTRAKT stanowi potężną porcję energii uzbrojoną w złożone kompozycje i psychodeliczne przestrzenie. Zespół zainteresuje szczególnie fanów Tool, Blindead czy Riverside; odnaleźć w nim można również wpływy Pink Floyd, Type of Negative czy Meshuggah

            „Mrok, strach oraz ciężar zderza się tu z pięknem melodii i dźwięków. W ciemności, gdzie scena rozświetlana jest przez wizualizacje, ABSTRAKT zabierze Cię do świata, w którym jeszcze nie byłeś..”
        </p>
    </div>
    <div class="col-md-3">
        <h2>Moanaa</h2>
        <p>
            Zespół Moanaa powstał w Bielsku Białej w 2008. Pierwszy koncert odbył się w marcu 2009. W tym też roku skład zespołu ostatecznie się uformował. Kapela wykonuje muzykę, która obraca się w klimatach post-metal, psychodelic, post-rock, sludge. Od marca 2009 zespół zagrał szereg koncertów w towarzystwie m.in. Blindead, Tides From Nebula, Jarboe, Nachtmystium czy At The Soundawn. W maju 2010 ukazał się debiutancki minialbum. Znalazły się na nim 3 utwory, które można pobrać za darmo z Bandcampu zespołu.
        </p>
    </div>
    <div class="col-md-3">
        <h2>Octopussy</h2>
        <p>
            Trójmiejski zespół rockowy łączący brzmienia rock’n’roll, stoner, blues z odbijającym się echem klimatu południa Stanów Zjednoczonych.
            Zespół wydał w 2013 roku debiut, który zebrał dużo pozytywnych recenzji w Polsce i na świecie. Silną stroną Octopussy są energetyczne koncerty, dzięki którym zespół systematycznie zbiera nowych fanów.
            W listopadzie 2017 odbyła się premiera drugiego wydawnictwa pod tytułem "Dwarfs & Giants", na którym usłyszeć można głos Jana Babińskiego, nowego wokalisty. Płyta została nagrana na żywo w Highwave studio w kwietniu 2017, pod okiem Jana Galbasa, producenta i pierwszego wokalisty zespołu. Nową płytę promuje opublikowany na YouTube singiel "Birdman", nagrany na żywo w Custom 34.
        </p>
    </div>
    <div class="col-md-3">
        <h2>BTEH</h2>
        <p>
            Poznański zespół BEYOND THE EVENT HORIZON, wykonujący instrumentalną muzykę rockową, wyrusza w wiosenną trasę koncertową, podczas której odwiedzi 8 miast w Polsce. Trasa promować będzie nadchodzące, drugie już w dorobku grupy wydawnictwo, które ujrzy światło dzienne w połowie marca 2018. Zespół wykonywać będzie w całości materiał z nowej EPki „FAR” oraz zaprezentuje swój stały repertuar z debiutanckiej, wydanej w 2014 roku płyty „Event Horizon”.
        </p>
    </div>
</div>
